venv/
__pycache__
wandb/
rep_theory/batch_experiments/*/checkpoints
rep_theory/batch_experiments/*/figures
rep_theory/batch_experiments_beta2_0999
rep_theory/utils/cache
rep_theory/paper/mainline-S5-old
rep_theory/paper/mainline-S5-also-old
rep_theory/junk/
rep_theory/experiments/mainline-S5-with-bias
rep_theory/utils/cached-group-tensors.tar.gz
rep_theory/batch-experiments.tar.gz
rep_theory/experiments.tar.gz
